<section class="feel-better">
  <h2 class="title-better">
    Volverse organizado se siente mejor con
    <span class="upper">open spaces</span>
  </h2>
  <include
    src="./articles-feel-better.html"
    image="./assets/images/icon_1.png"
    title-image="Icono mesa"
    alt-image="Icono mesa"
    title="Lo que necesitas"
    text="Una linea de productos diseñados para todos tus espacios"
  ></include>
  <include
    src="./articles-feel-better.html"
    image="./assets/images/icon_2.png"
    title-image="Icono reciclar"
    alt-image="Icono reciclar"
    title="Materias primas sustentables"
    text="Todos los productos con materias primas sustentables"
  ></include>
  <include
    src="./articles-feel-better.html"
    image="./assets/images/icon_3.png"
    title-image="Icono guía"
    alt-image="Icono guía"
    title="Guía"
    text="Soporte y asesoramiento para ayudarte con tu objetivo"
  ></include>
</section>
