<footer class="footer">
  
      <section class="footer__section" id="second">
        <h3 class="footer__title">Tienda</h3>
        <nav>
        <ul class="footer__list">
          <li><a class="footer__link" href="https://a class=footer__link.es/" class="">Productos</a></li>
          <li><a class="footer__link" href="https://adalab.es/" class="">Cajoneras</a></li>
          <li>
            <a class="footer__link" href="https://adalab.es/" class="">Para toda la casa</a>
          </li>
          <li><a class="footer__link" href="https://adalab.es/" class="">Habitaciones</a></li>
        </ul>
      </nav>
      </section>
      <section  class="footer__section" id="last">
        <h3 class="footer__title">Nosotros</h3>
        <nav>
        <ul class="footer__list">
          <li><a class="footer__link" href="https://adalab.es/" class="">Nuestra guía</a></li>
          <li><a class="footer__link" href="https://adalab.es/" class="">Nuestro diseño</a></li>
          <li>
            <a class="footer__link" href="https://adalab.es/" class="">Nuestra historia</a>
          </li>
          <li><a class="footer__link" href="https://adalab.es/" class="">Ayuda</a></li>
        </ul>
      </nav>
      </section>
      <section  class="footer__section" id="first">
        <h3 class="footer__title"><span class="contact-red">Contacto</span></h3>
      </nav>
        <ul class="footer__list">
          <li>ayuda@opensapaces.com</li>
          <li>Socios</li>
        </ul>
        </nav>
      <nav>
        <ul class="footer__list">
          <li class="footer__icons">
            <a class="icons"  href="https://www.linkedin.com/" 
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>

            <a class="icons"  href="https://www.instagram.com/" 
              ><i class="fa-brands fa-instagram"></i
            ></a>

            <a class="icons" href="https://twitter.com/" 
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </li>
        </ul>
      </nav>
      </section>
      <a href="./index.html#hero" class="arrow" title="Volver al inicio"><i class="fa-solid fa-arrow-up"></i></a>
</footer>
