<header class="header">
  <nav class="menu">
    <a href="https://adalab.es/" class="menu__icon"
      ><i class="fas fa-bars"></i
    ></a>
  </nav>
  <figure class="figure-logo">
    <img class="logo" src="./assets/images/logo.png" alt="Logo" title="Logo" />
  </figure>
  <nav class="nav">
    <ul class="nav__link">
      <li>
        <a href="https://adalab.es/" class="nav__link__text">Productos</a>
      </li>
      <li>
        <a href="https://adalab.es/" class="nav__link__text">Colecciones</a>
      </li>
      <li><a href="https://adalab.es/" class="nav__link__text">Tienda</a></li>
      <li><a href="https://adalab.es/" class="nav__link__text">Inicio</a></li>
    </ul>
  </nav>
</header>
