$color-orange: #FF975A;
$color-white: #ffffff;
$color-spruce: #0C474B;
$color-light-grey: #F0EBE5;
$size-hero-title-tablet:36px;
$size-big-title-tablet:30px;
$size-big-title: 24px;
$size-small-title: 20px;
$size-normal-text: 16px;
$size-small-text: 14px;