 /*UTILIZAR GRID*/
 
 .upper {
    text-transform: uppercase;
}

.feel-better {
    background-color: $color-light-grey;
    text-align: center;
    color: $color-spruce;


    @media all and (max-width: 900px){
    display: grid ;
    grid-template-rows: 154px 318px 318px 318px;
    
}


    @media all and (min-width: 900px){
        height: 532px;
        display: grid ;
        grid-template-columns: (1fr 1fr 1fr) ;
        grid-template-rows: (159px 453px);
        padding-left: 90px;
        padding-right: 90px;
        
    }
    @media all and (min-width: 1728px){
        height: 611px;
    
}

.title-better {
    font-size: $size-big-title;
        padding: 41px 47px 47px 45px;

    @media all and (min-width: 900px){
        grid-column: span 3;
    }
    @media all and (min-width: 900px){}
}


.icon-better {
    width: 90px;
    padding: 45px 0 35px 0;
    @media all and (min-width: 900px){
        padding-top: 0;
        object-fit: contain;
    }


}
.article {
    padding: 0 103px;
    &__title {
        font-size: $size-small-title;

    }

    &__text{
        font-size: $size-normal-text;
        padding-top: 8px;
        

    }

     @media all and (min-width: 900px){
        
            grid-column: 1/2;
            grid-row: 1/2;
            width: 208px;
            justify-content: center;
            padding: 0;
            margin: auto;
            
        }    
  
}


}