.header {
    width: 100%;
    position: absolute;
}

.menu {
    padding: 3.438rem 0 0 2.063rem;   
    width: 1.5rem;
    position: fixed;
  


&__icon {
    height: 1.5rem;
    width: 1.5rem;
    color: $color-spruce;
    &:hover {
        color: $color-white;
      }
}
@media all and (min-width: 1728px){
    display: none;
}
}
.figure-logo{
    display:flex;
    justify-content: center;
}
.logo {
    width: 13.313rem;
    height: 6rem;
    padding-top: 19px;
}

.nav {
    display: none;

    @media all and (min-width: 1728px){
        display: flex;
        position: absolute;
        top: 0;
        position: fixed;
        padding-left: 280px;
        padding-top: 62px;
    }
    &__link{
        display: flex;
        list-style-type: none;
        gap: 30px;
     

        &__text{
            text-decoration: none;
            color: $color-spruce;
            &:hover {
                color: $color-white;
              }
           
        }

    }
}