.delivery {
    background-color: $color-orange;
    color: $color-white;
    text-align: center;
    height: 352px;


&__icon-truck {
    padding: 46px 0 10px;
}

&__title{
    padding-bottom: 10px;
    font-size: $size-big-title;
}

&__text {
    margin-bottom: 17px;
    font-size: $size-small-text;
}

&__button {
    padding: 12px 24px;
    color: $color-white;
    font-size: $size-normal-text;
    &:hover {
        color: $color-spruce;
      }
}

@media all and (min-width: 1728px){
    height: 400px;
}
}